{block content}
<div class="center dark">
    <h1 n:block=title>Přidání vtipu</h1>
</div>
<script>
    $(document).ready(function () {
        $('#frm-jokeAddForm-icon').iconpicker();
    });
</script>
{control jokeAddForm}